@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

body,html{
	margin:0;
	padding:0;
    font-family: 'Oswald', sans-serif;
}

div, header , section , span , footer{
	box-sizing: border-box;
}



/*main section styling*/

#main{
	width:100%;
	height:100vh;
	margin:0;
	padding:0;
	overflow: hidden;
}

#main.home-page{
	background:url('../img/bg.jpg') no-repeat;
	background-size:cover;
}


/*container*/

.container{
		max-width:90%;
		margin:0 auto;
		height:100vh;
		position: relative;
	}


@media all and (min-width: 1300px) {
	.container{
		max-width:1200px;
		margin:0 auto;
	}
} 


/*sections*/

.left-section{
	width: 30%;
    height: auto;
    display: inline-block;
    padding:10px 25px;
    float: left;
}

.left-section h1{
	color:#fff;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 22px;
}



.main-section{
	width:70%;
	height: auto;
	float:left;
}


footer{
	width:100%;
	height: 80px;
	position: absolute;
	bottom:0;
}

footer ul{
	list-style: none;
	float:right;
	margin:0;
	padding:0;
	height: 100%;
}

footer li {
	width:220px;
	background:#333;
	float: left;
	height: 100%;
}

li a{
	text-decoration: none;
	color:#fff;
	display: block;
	width:100%;
	height:100%;
	text-align: right;
}

li h3{
	margin:0;
	padding:10px 10px 0 ;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 24px;
}

li p{
	padding:0;
	margin:0;
    font-size: 14px;
    color:rgba(0,0,0,.6);
    margin: -5px 10px 0 0;
}

li .price{
	position: absolute;
	left: 0;
	bottom:10px;
	font-size: 110px;
	letter-spacing: -1px;
    line-height: 96px;
    color: rgba(255,255,255,.3);
}

li{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
}

li:hover{
	transform:scale(1.1);
	z-index: 1000;
	box-shadow: 0 0 68px rgba(0,0,0,.7);
}



li.empty{
	pointer-events: none;
}

li.empty:hover{
	transform:none;
	z-index: 0;
	box-shadow: none;
}

li.purple{
	background:#6b3163;
}



li.white{
	background:#fff;
}
li.white h3{
	color:#000;
}


li.blue{
	background:#0d7c85;
}


li.faded{
	background:rgba(255,255,255,.05);
}

li.faded:hover{
	background:rgba(255,255,255,1);
}

li.faded:hover h3{
	color:#333;
}

li.faded:hover .price{
	color:rgba(0,0,0,.3);
}

li.orange{
	background:#f38144;
}

li.light-blue{
	background:#0f7abf;
}

li.cyan:hover{
	background:#67d5ea;
}

li.green:hover{
	background:#77b556;
}

/*products*/

.products{
	width:100%;
	height:calc(100vh - 80px);
	display: flex;
	align-content: flex-start;
	align-items: flex-end;
	flex-wrap: wrap-reverse;
}

.products ul{
	list-style: none;
    width: 100%;
    height: 180px;
    margin-bottom: 0;
    margin-top:0;
}

.products ul li{
	width:220px;
	height: 180px;
	float: right;
	overflow: hidden;
}

.products ul li.regular{
	border:1px solid rgba(255,255,255,.3);
}

.products li img{
	position: absolute;
    z-index: 100;
    width: 155px;
    right:0;
    bottom:0;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;

}


.products li.tilt img{


    right: -19px;
    bottom: -24px;
    transform: rotate(20deg);
}

.products li.tilt:hover img{
	transform: rotate(0deg);
	bottom:-10px;
	right:-5px;
}


/*cirlce*/

.circle{
	width: 600px;
    height: 600px;
    border-radius: 200px;
    position: absolute;
    top: -120px;
    right: -10%;
}

.svg {
	display: block;
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.circle {
	fill: none;
	stroke: rgba(13,124,133,0.5);
	stroke-width: 8px;
	animation-duration: 15s;
	animation-name: myRotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

.circle2 {
	fill: none;
	stroke: rgba(255,255,255,0.5);
	stroke-width: 4px;
	animation-duration: 25s;
	animation-name: myRotate;
			animation-direction: reverse;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes myRotate {
	from {
		stroke-dashoffset: 0%;
	}
	
	to {
		stroke-dashoffset: 100%;
	}
}


/*basket*/

.basket{
	position: absolute;
	top:30px;
	width:80px;
	height: 80px;
	border-radius: 40px;
	border:3px solid #f46442;
	right: 0;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	transition: .3s ease-in all;
	-webkit-transition: .3s ease-in all;
	-moz-transition: .3s ease-in all;
}

.basket:hover{
	background:#f46442;
}

.basket img{
	width:40px;
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

.basket a{
	width:100%;
	height: 100%;
	display: block;
}

.search img {
	width:30px;
}


.logo{
	float:left;
}

.logo img{
	width:80px;	
}


/*search box*/
.searchBox{
	width:100%;
	height: 0px;
	background:rgba(0,0,0,.9);
	position: fixed;
    border-bottom: 1px solid #0f7abf;
    z-index: 1000;	
	padding: 0 50px;
	top:0;
	left:0;
	overflow: hidden;
	transition: .3s ease-in all;
	-webkit-transition: .3s ease-in all;
	-moz-transition: .3s ease-in all;
}

.searchBox input{
	background:none;
	width:90%;
	float:left;
	border:none;
	font-size:30px;
	font-family: 'Oswald', sans-serif;
	height: 150px;
	text-transform: uppercase;
	color:#fff;
	transition: .3s ease-in all;
	-webkit-transition: .3s ease-in all;
	-moz-transition: .3s ease-in all;

}

.searchBox.open{
	height:150px;
}

.searchBox input:focus{
	outline:0;
}


.searchBox a {
	    text-decoration: none;
    font-size: 38px;
    line-height: 145px;
    float: right;
    color: #fff;
}


.vanish.hide{
	height:0;
}